
version: 2

job_defaults: &job_defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:8.11

jobs:
  deploy_weather_test:
    <<: *job_defaults
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Set credentials
          command: |
            echo 'export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_TEST' >> $BASH_ENV
            echo 'export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_TEST' >> $BASH_ENV
      - run: 
          name: Deploy weather api to test environment
          command: |
            yarn install
            yarn run deploy
          environment:
            ENV: test
            WEATHER_API_KEY: acb20588808ef012922edb1f08477a38
            WEATHER_URL: https://api.openweathermap.org/data/2.5

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      
      # run tests!
      #- run: yarn test

workflows:
  version: 2
  deploy_weather_service:
    jobs:
    - deploy_weather_test:
        filters:
          branches:
            only:
              - master
